/* styles that apply everywhere */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

*, body, html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, a, ul, li, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  direction: ltr;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #000;
}